services:
  bot:
    image: xiaole6324/scm-bot:latest
    container_name: scm-bot
    env_file: 
      - .env
    depends_on: 
      - redis
    restart: unless-stopped
    networks:
      - bot
  
  redis:
    image: redis:8.4.0-alpine3.22
    command: redis-server 
    expose:
      - 6379
    networks:
      - bot

networks:
  bot:
    driver: bridge
