version: '3.8'
services:
  bot:
    image: scm-bot:0.9.6f2
    container_name: scm-bot
    env_file: 
      - .env
    depends_on: 
      - redis
    restart: unless-stopped
    networks:
      - bot
  
  redis:
    image: redis:8.4.0-alpine3.22
    command: redis-server --requirepass secret
    networks:
      - bot
networks:
  bot:
    driver: bridge
